<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">

    <title>Index page</title>

  </head>
  <body>
    <h1>Page for DB</h1>
    <div>
      <h2>База данных</h2>
      <ul>
        <li> Запись 1 | <a href="one_entry.html">Посмотреть целиком</a> </li>
        <li> Запись 2 | <a href="one_entry.html">Посмотреть целиком</a> </li>
        <li> Запись 3 | <a href="one_entry.html">Посмотреть целиком</a> </li>
      </ul>
    </div>
    <div>
      <a href="contacts.html">Контакты</a>
    </div>
  </body>
</html>