<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">

    <title>One entry</title>

  </head>
  <body>
    <div>
        <h1>Одна запись</h1>
        <ul>
          <li> Поле 1 </li>
          <li> Поле 2 </li>
          <li> Поле 3 </li>
        </ul>
    </div>
    <div>
        <a href="index.html">На главную</a>
    </div>
  </body>
</html>